# ignore any emacs temp files
*~

# ignore all bin dirs
GEM/bin
mcapi-1.0/bin
mcapi-2.0/bin
toy-mcapi/bin

# ignore all obj dirs
4M/obj
GEM/obj
mcapi-1.0/obj
mcapi-2.0/obj

# ignore other directions
4M/compiler/generated
wrapperInput
wrapperOutput
compiled